{%load static%}

<div class="best_authors">
  <div class="authors">
    <h1 class="title_authors">Лучшие авторы</h1>
    <div class="top_people">
      {% for author in best_authors%}
        <div class="one_people">
          <a href="/profile/{{author.user.username}}" class="img_author">
            <img src="/{{author.avatar}}">
          </a>
          <div class="name_and_price">
            <h1>{{ author.user.first_name}} {{ author.user.last_name}}{% if author.user.profile.get.online %}
            <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="3" cy="3" r="3" fill="#2578FF"/>
          </svg>
            {%endif%}</h1>
            <p>~ {{author.token_cost}}$</p>
          </div>
          <div class="buy_token">
            <a href="#" onclick="show(); fill_popup_buy(this,`{{ author.user.id }}`)">Купить</a>
          </div>
        </div>
      {% endfor%}
    </div>
  </div>
</div>

{% include 'patterns/popup_for_buy.html'%}
<script src="{% static 'js/buy_token_popup.js' %}"></script>
<script src="{% static  'js/mng_panel_popup.js'%}"></script>