<div>
    <div class="inputs_of_notifical mb_search">
        <a tabindex="0" href="#">Люди</a>
        <a tabindex="0" href="#">Публикации</a>
    </div>
    <div class="manag_content">

    <div class="find_container">
        <img src="{% static '/img/svg/zoom_out.svg '%}" class="lupa"></img>
        <input class="find "type="text" placeholder=" Поиск..." >
    </div>
    <div class="mng_list_container">
        <ul class="mng_list">
            <li class="mng_list_elem"> 
                <span class="mng_user">
                    <img src="{% static '/img/svg/user_logo.svg'%}" class="mng_user_logo" >
                    <div class="ib">
                        <div class="search_user">
                            <span class="mng_name"> Лев Фисун</span>
                            <span class="">98,291$</span>
                        </div>
                    </div>
                </span>
                <span class="mng_btn_container">
                    
                    <button class="registerbtn mng_btn" id="mng_btn" onClick="func(1,444)">Купить</button>
                </span>
                
            </li>
        </ul>
    </div>
    <div class="show_more_btn_container">
        <button class="show_more_btn registerbtn">Показать больше</button>
    </div>
    </div>
</div>