{% extends 'patterns/header_footer.html' %}

{%block title %}ATOMOS / ВКонтакте{% endblock%}
{% load static%}
{% block content%}
<div class="registration_vk">
    <div class="wrapper">
        <div class="reg_vk_form">
            <div class="vk_block">
                <vk_img>
                    <img src="{% static 'img/svg/profile_vk.svg'%}" alt="">
                </vk_img>
                <h1>Регистрация без привязки ВКонтакте</h1>
                <p>Если Вы продолжите регистрацию без привязки своего
аккаунта ВКонтакте, то в будущем не будете получать
процент от купленных инвесторами токенов, не сможете подать заявку на верификацию профиля, а также мы не
сможем увеличить цену Ваших токенов на старте.</p>
                <a href="/end_reg" class="hover_blue">Продолжить регистрацию без привязки</a>
            </div>
            <div class="vk_block">
                <vk_img>
                    <img class="left_right" src="{% static 'img/svg/profile_vk2.svg'%}" alt="">
                </vk_img>
                <h1>Регистрация с привязкой ВКонтакте</h1>
                <p>Крайне рекомендуем привязать свой аккаунт ВКонтакте, так
как после этого Вы будете получать процент от купленных
инвесторами токенов, а также мы сможем увеличить цену
Ваших токенов на старте за счёт количества подписчиков и
постов на странице. Привязка специально взятых аккаунтов
для какой-либо динамики токена не приветствуется!</p>
                <a href="/end_reg" class="hover_blue">Привязать свой аккаунт ВКонтакте</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}